@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: var(--text-default-color);
    background-color: var(--background-color-page );
    height: 100vh;
}

header, .logo, .notification-and-profile-information, .profile-information{
    display: flex;
}

header{
    background-color: var(--white-color);
    box-shadow: 0.6em 0 1.8em rgba(0, 0, 0, 0.05);
    max-height: 100%;
}

.logo{
    padding: 1.5em 2em ;
    box-shadow: 1.6em 0 1.6em rgba(0, 0, 0, 0.01);
    gap: 0.5em;
}

.arrow-sidebar{
    margin: auto;
}

.arrow-sidebar img{
    background-color: var(--default-color);
    border-radius: 50%;
    padding: 0.3em;
    transform: translateX(-50%);
    cursor: pointer;
}


.navbar{
    padding: 1em 2em;
}

.button-search {
    background-color: transparent;
    border: none;
}

.input-searchbar {
    background-color: transparent;
    border: none;
    outline: none;
}

.searchbar{
    padding: 0.25em 1em;
    border: 0.125em solid #E9ECEF;
    border-radius: 0.6em;
    gap: 0.5em;
    max-height: 2.25em;
}

.navbar{
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.notification-and-profile-information{
    align-items: center;
}

.icons-information{
    display: block;
    gap: 1em;
}

.profile-information{
    gap: 1em;
    margin: 0 0.5em;
}

.profile-information img {
    max-width: 2.8em;
    max-height: 2.8em;
    border-radius: 50%;
    margin: auto;
}

.name-and-job-role h2{
    font-size: 1em;
}

.name-and-job-role p{
    font-size: 0.8em;
    color: var(--text-secundary-color);
}

.banner-dashbord{
    background: url(/src/images/backgorund-big-circles.png) no-repeat;
    background-size: cover;
    padding: 1.6em 2.5em 6.25em 4.3em;
    border-radius: 0 0 1.25em 1.25em;
    color: var(--white-color);
    display: flex;
    justify-content: space-between;
}

.banner-dashbord h1{
    font-size: 2.5em;
}

.banner-dashbord h2{
    font-size: 1.4em;
}

.banner-dashbord button{
    height: 2.5em;
    background-color: var(--button-announcement);
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    border: none;
    color: var(--white-color);
}

.card-information{
    background-color: var(--white-color);
    width: 14.68em;
    border-radius: 0.5em;
    padding: 1.5em;
    color: var(--text-secundary-color);
    font-size: 1.18em;
    transform: translateY(-50%);
    box-shadow: 1.6em 0 1.6em rgba(0, 0, 0, 0.01);
    gap: 0.5em;
}

.information-dashboard h4{
    color: var(--text-default-color);
    font-size: 1.4em;
}


footer{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: var(--white-color);
    position: absolute;
    width: 100%;
    bottom: 0;   
}

footer a{
    color: var(--default-color)
}

.use-terms{
    display: flex;
    gap: 1.5em;
    cursor: pointer;
}






