@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: var(--text-default-color);
    background-color: var(--background-color-page );
    height: 100vh;
}

header, .logo, .notification-and-profile-information, .profile-information{
    display: flex;
}

header{
    background-color: var(--white-color);
    box-shadow: 0.6em 0 1.8em rgba(0, 0, 0, 0.05);
    width: 100%;
    top: 0;
    position: fixed;
    height: 4.75em;
}

.logo{
    display: block;
    padding: 1.5em 2em ;
    box-shadow: 1.6em 0 1.6em rgba(0, 0, 0, 0.05);
    width: 18em;
    height: 100%;
}

.content-logo{
    display: flex;
    gap: 0.5em;
}

.navbar{
    padding: 1em 2em;
}

.button-search {
    background-color: transparent;
    border: none;
}

.input-searchbar {
    background-color: transparent;
    border: none;
    outline: none;
}

.searchbar{
    padding: 0.25em 1em;
    border: 0.125em solid #E9ECEF;
    border-radius: 0.6em;
    gap: 0.5em;
    max-height: 2.25em;
}

.navbar{
    width: 100%;
    height: 4.75em;
    justify-content: space-between;
}

.notification-and-profile-information{
    align-items: center;
}

.icons-information{
    display: block;
    gap: 1em;
}

.profile-information{
    gap: 1em;
    margin: 0 0.5em;
}

.profile-information img {
    max-width: 2.8em;
    max-height: 2.8em;
    border-radius: 50%;
    margin: auto;
}

.name-and-job-role h2{
    font-size: 1em;
}

.name-and-job-role p{
    font-size: 0.8em;
    color: var(--text-secundary-color);
}



main {
    margin-left: 16em;
}

.sidebar{
    background-color: var(--white-color);
    width: 15em;
    height: 100%;
    box-shadow: 1.6em 0 1.6em rgba(0, 0, 0, 0.1); 
    position: fixed;
    padding-top: 4.75em;
    margin-top: -76px;
}

.sidebar-title{
    font-size: 16px;
    margin-top: 50px;
}

.logo-scorease{
    width: 274px;
    height: 274px;
    transform: translateX(-12%);
    opacity: 10%;
}

.sidebar-elements{
    height: 100%;
    font-size: 16px;
}

.sidebar-elements li.item-menu{
    transition: .2s;
}

.sidebar-elements li.item-menu:hover{
    background: #8084FE;
    border-radius: 10%;
}

.sidebar-elements li.item-menu a{
    font-size: 16px;
    padding: 10px 4%;
    display: flex;
    margin-bottom: 4px;
}

.sidebar-elements li.item-menu a .txt-link{
    margin-left: 20px;
}


ul{
    height: 100%;
    font-size: 16px;
}

ul li.item-menu{
    transition: .2s;
}

ul li.item-menu:hover{
    background: #8084FE;
}

ul li.item-menu a{
    font-size: 16px;
    padding: 10px 4%;
    display: flex;
    margin-bottom: 4px;
}



.line-menu{
    border-bottom: 1px solid #E9ECEF;
    
}



.arrow-sidebar{
    display: flex;
}

.arrow-sidebar img{
    background-color: var(--default-color);
    width: 1.9em;
    height: 1.9em;
    border-radius: 50%;
    padding: 0.375em;
    transform: translateX(-50%);
    cursor: pointer;
    margin: auto;
}



.banner-dashbord{
    background: url(/src/images/backgorund-big-circles.png) no-repeat;
    background-size: cover;
    padding: 1.6em 2.5em 6.25em 4.3em;
    border-radius: 0 0 1.25em 1.25em;
    color: var(--white-color);
    display: flex;
    width: calc(100%- 16em);
    margin-top: 4.75em;
    justify-content: space-between;
}

.banner-dashbord h1{
    font-size: 2.5em;
}

.banner-dashbord h2{
    font-size: 1.4em;
}

.banner-dashbord button{
    height: 2.5em;
    background-color: var(--button-announcement);
    padding: 0.5em 1.5em;
    border-radius: 0.25em;
    border: none;
    color: var(--white-color);
}

.summary-cards{
    display: flex;
    gap: 2.5em;
    margin: 0 2.5em;
}

.general-user-information-dashboard{
    display: flex;
    gap: 2.5em;
}

.card-information{
    display: flex;
    background-color: var(--white-color);
    border-radius: 0.5em;
    padding: 1.5em;
    color: var(--text-secundary-color);
    font-size: 1.18em;
    transform: translateY(-50%);
    box-shadow: 1.6em 0 1.6em rgba(0, 0, 0, 0.01); 
}

.general-user-information-dashboard h4{
    color: var(--text-default-color);
    font-size: 1.4em;
}

.general-user-information-dashboard h3{
    font-size: 1.1em;    
}


.analyzed-leads-companies{
    display: flex;
    width: 29.9em;
}

.analyzed-leads-companies h3{
    text-align: center;
    color: var(--text-default-color);
    font-size: 28px;
}

.analyzed-leads-companies h4{
    font-size: 1em;
}

.prospected-companies-numb{
    border-right: 1px solid var(--detail-color);
    padding-right: 3.6em;
    margin: auto;
}

.enriched-leads-numb{
    padding-left: 3.6em;
}



footer{
    display: flex;
    justify-content: space-between;
    padding: 1em 1.5em;
    background-color: var(--white-color);
    position: fixed;
    width: calc(100% - 16em);
    
    bottom: 0;   
    margin-left: 16em;
}

footer a{
    color: var(--default-color)
}

.use-terms{
    display: flex;
    gap: 1.5em;
    cursor: pointer;
}







