:root{
    --text-default-color: #232D42;
    --text-secundary-color: #8A92A6;
    --background-color-page: #e9ecef;
    --detail-color: #E9ECEF;
    --white-color: #fff;
    --default-color: #8084FE;
    --button-announcement: #E9C600CC;
}